.DS_Store
/vendor/
/node_modules/
/uploads/
/data/
/config/cfg/
/install/install.lock
/.env
/.trae/
html/
*.log
*.swp
*.swo
*.bak
/__pycache__/
/.idea/
/index.html
/index/
/.vscode/
/reports/
/tests/
/config/view.php
sitemap.txt
sitemap.xml
sitemap.html
