
<!DOCTYPE html>
<html lang="cn">
    <head>
        {include file="header"/}
        <title>[$column.name]-{fox:basic name='title'/}</title>
        <meta name="keywords" content="[$column.keywords]" />
        <meta name="description" content="[$column.description]" />
    </head>
    <body>
        <!-- 顶部 -->
        <header class="foxui-border-bottom foxui-bg-white">{include file="nav"/}</header>
        <!-- 主体内容 -->
        <main>
            <!-- 通栏图 -->
            <div class="foxcms-common-banner foxui-bg-lighter">{include file="banner"/}</div>
            <!-- 内容 -->
            <div class="foxcms-main list-honor-main">
                <div class="foxcms-container">
                    <div class="foxui-row foxui-gutter-6">
                        {fox:article name='field' }
                        <div class="foxui-col-md-8 foxui-col-xl-6">
                            <div class="item wow slideInUp">
                                <div class="item-inner">
                                    <div class="pic lazy-container" data-aspect-ratio="4/3">
                                        <img class="lazy-image" data-src="[$field.img_url]" alt="[$field.title]" />
                                    </div>
                                    <div class="text">
                                        <h3 class="foxui-ellipsis">[$field.title]</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/fox:article}
                    </div>
                </div>
            </div>
            <!-- 右侧浮动内容 -->
            <div class="foxcms-fixed-container">{include file="fixed"/}</div>
        </main>
        <!-- 底部 -->
        <footer class="wow slideInUp">{include file="footer"/}</footer>
    </body>
    <script src="_STATIC_/skin/js/foxui-1.21.min.js"></script>
    <script src="_STATIC_/skin/js/common.js"></script>

    <script>
        $(document).on('click', '.list-honor-main .item', function () {
            const honorIndex = $(this).parent().index();
            const honorImgList = [];
            $('.list-honor-main .item img').each(function () {
                const $img = $(this);
                honorImgList.push({
                    src: $img.attr('data-src') || $img.attr('src'),
                    text: $img.closest('.item-inner').find('h3').text(),
                });
            });
            foxui.dialog({
                title: honorImgList[honorIndex].text,
                content: _honorViewHtml(honorImgList, honorIndex),
                marginTop: '12vh',
                className: 'honor-dialog',
            });
        });

        function _honorViewHtml(imgList, index) {
            return ['<div class="honor-dialog-content">', '<div class="pic">', `<img src="${imgList[index].src}" alt="${imgList[index].text || ''}"/>`, '</div>', '</div>'].join('');
        }
    </script>
</html>
